body {
  
 background-color: rgb(135, 135, 138);
}

.titulo { 
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
font-style: italic;
  
}
.titulo span {
  color: aqua;
}
#mynetwork {
  margin-top: auto;
  width: 90%;
  height: 300px;
 margin: 0 auto;
 border-radius: 10px;
}
.lidecontainer {
  display: flex;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
}
.padding{
  border-radius: 10px;
  padding-bottom: 30px;
  padding: 20px;
}
.center1{
  display: flex;
  justify-content: center;
  column-gap: 20px;
}
